## Пробные задания для экзамена

Экзамен состоит из трех заданий на одну из следующих тем:

1. Функции и простые операции
2. Классы
3. Библиотека [pandas](https://pandas.pydata.org/)

Ниже представлены примеры заданий по каждой теме.

### Задание №1

#### Вариант 1

Реализуйте функцию `print_types`, печатающую на экран типы своих аргументов построчно. Функция должна принимать произвольное число параметров.

Пример работы:

```python
>>> print_types(1, False, "hello")
<class 'int'>
<class 'bool'>
<class 'str'>
```

#### Вариант 2

Реализуйте функцию `sum_string`, вычисляющую сумму чисел, которые передаются в нее в виде строки. Строка представляет собой последовательность целых чисел, разделенных пробелами. Вычисленная сумма должна быть возвращаемым значением функции.

Пример:

```python
>>> sum_string("14 -2 8")
20
```

#### Вариант 3

Реализуйте функцию `remove_spaces`, которая принимает строку, удаляет из нее все пробелы и возвращает полученное значение.

Пример:

```python
>>> remove_spaces("    h   e ll  o   w o r   l d   !  ")
"helloworld!"
```

### Задание №2

Реализуйте класс `Timer`, обладающий методом `start`, при вызове которого программа ожидает некоторое число секунд (используйте `time.sleep`) и выводит на экран сообщение `"Time's up!"`. Длительность обратного отсчета определяется в момент создания экземпляра `Timer`.

Пример:

```python
>>> timer = Timer(5)
>>> timer.start()  # ожидает 5 секунд перед печатью
"Time's up!"
```

Экземпляры `Timer` поддерживают сложение друг с другом. Результатом этой операции должен быть новый экземпляр `Timer`, длительность отсчета которого равняется сумме отсчетов суммируемых экземпляров. Попытка сложить `Timer` с любыми другими объектами кроме экземпляров `Timer` должна возвращать значение `NotImplemented`.

Пример:

```python
>>> a = Timer(1)
>>> b = Timer(2)
>>> c = a + b
>>> c.start()  # ожидает 3 секунды перед печатью
"Time's up!"
```

### Задание №3

In [1]:
import pandas as pd

iris = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

В датафрейм `iris` загружен датасет `iris.csv`. Выведите на экран следующие значения:

1. Список уникальных значений столбца `species`.

2. Среднее значение столбца `petal_length` в строках, где `species` равняется `"virginica"`.

3. Количество строк в датасете, где `sepal_length` больше 3, а `petal_width` меньше 1.