### Задание №1 A

Реализуйте функцию `flatten(arr)`, которая принимает список `arr`, все элементы которого также являются списками. Возвращаемое значение функции должно быть списком из всех элементов списков, вложенных в `arr`.

```python
>>> flatten([[1, 2], [3, 4]])
[1, 2, 3, 4]

>>> flatten([
... ["h", "e", "l"],
... ["l", "o", " "],
... ["w", "o", "r"],
... ["l", "d", "!"],
... ])
["h", "e", "l", "l", "o", " ", "w", "o", "r", "l", "d", "!"]

>>> flatten([["a", "b", ["c"]]])
["a", "b", ["c"]]
```

In [ ]:
def flatten(arr: list[list]) -> list:
    res = []
    for sublist in arr:
        for item in sublist:
            res.append(item)
    return res

In [1]:
# альтернативное решение
def flatten(arr: list[list]) -> list:
    return [item for sublist in arr for item in sublist]

### Задание №1 B

*Title case* &ndash; стиль заголовка, в котором каждое слово пишется с заглавной буквы.

Реализуйте функцию `to_title_case(line)`, которая возвращает строку `line`, приведенную в *title case*. Гарантируется, что `line` не содержит переводов строки (`'\n'`).

```python
>>> to_title_case('hello world!')
'Hello World!'

>>> to_title_case('fall canceled after 3 billion seasons')
'Fall Canceled After 3 Billion Seasons'
```

In [2]:
def to_title_case(text: str) -> str:
    return " ".join(word.capitalize() for word in text.split())

to_title_case("fall canceled after 3 billion seasons")

'Fall Canceled After 3 Billion Seasons'

### Задание №1 С

Реализуйте функцию `mailgun(message, fr, *to)`, которая принимает строку с сообщением `message`, строку с именем отправителя `fr` и произвольное число строк с именами адресатов `to`. Для каждого адресата функция должна вывести на экран строку, содержащую приветствие адресата "Dear *(имя адресата)*", текст сообщения `message` и заключение "Sincerely yours, *(имя отправителя)*".

```python
>>> message = 'Could you spare a small smackerel?'
>>> mailgun(message, 'Winnie', 'Piglet', 'Rabbit', 'Kanga')
Dear Piglet! Could you spare a small smackerel? Sincerely yours, Winnie
Dear Rabbit! Could you spare a small smackerel? Sincerely yours, Winnie
Dear Kanga! Could you spare a small smackerel? Sincerely yours, Winnie
```

In [3]:
def mailgun(message: str, fr: str, *to: str):
    for name in to:
        print(f"Dear {name}! {message} Sincerely yours, {fr}")

mailgun('Could you spare a small smackerel?', 'Winnie', 'Piglet', 'Rabbit', 'Kanga')

Dear Piglet! Could you spare a small smackerel? Sincerely yours, Winnie
Dear Rabbit! Could you spare a small smackerel? Sincerely yours, Winnie
Dear Kanga! Could you spare a small smackerel? Sincerely yours, Winnie

### Задание №1 D

Среднее гармоническое набора положительных чисел $x_1, ..., x_n$ определяется как число, обратное среднему арифметическому от обратных к числам $x_1, ..., x_n$:

$$
H = \frac{n}{\frac{1}{x_1} + ... + \frac{1}{x_n}},
$$
где $H$ &ndash; среднее гармоническое.

Реализуйте функцию `harmonic_mean(values)`, возвращающую среднее гармоническое списка чисел `values`.

```python
>>> harmonic_mean([4, 36, 45, 50, 75])
15.0
```

In [4]:
def harmonic_mean(values: list[float]) -> float:
    return len(values) / sum(1 / x for x in values)


harmonic_mean([4, 36, 45, 50, 75])

15.0

### Задание №2 A

Реализуйте класс `Uint8`, отражающий целое число в диапазоне $[0; 255]$ (от 0 до 255 включительно). Конструктор `Uint8` принимает целое число, которое считается числовым значением экземпляра `Uint8`. 

Реализуйте операции сложения и вычитания для класса `Uint8`, поддерживающие операции с другими экземплярами `Uint8` или `int` (правосторонние операторы реализовывать не требуется).

В экземпляре `Uint8` никогда не должно храниться число вне диапазона $[0; 255]$. Если любая операция (создание экземпляра, сложение или вычитание) приводит к выходу за пределы диапазона, полученное число должно быть разделено на `256` по модулю.

Вывод экземпляра `Uint8` в консоль должен быть идентичен выводу в консоль числа типа `int` с тем же значением.

```python
>>> Uint8(5)
5

>>> Uint8(3) - 2 + Uint8(1)
2

>>> Uint8(251) + 10  # (251 + 10) % 256 == (256 + 5) % 256
5
```

In [5]:
class Uint8(int):
    def __add__(self, other):
        return Uint8(super().__add__(other) % 256) if isinstance(other, int) else NotImplemented

    def __sub__(self, other):
        return Uint8(super().__sub__(other) % 256) if isinstance(other, int) else NotImplemented

Uint8(251) + 10

5

### Задание №2 B

Реализуйте класс `Storage`, представляющий устройство хранения данных.

Конструктор `Storage` должен принимать целое число `size` и строку `unit`, которые содержат информацию об объеме устройства и используемых единицах измерения.

```python
Storage(100, 'mb')  # 300 мегабайт
Storage(10, 'tb')   # 10 терабайт
Storage(320, 'kb')  # 320 килобайт
```

Таблица используемых единиц измерения:

|Значение `unit`|Единица измерения|          Объем в байтах|
|:-------------:|:---------------:|-----------------------:|
|      `'b'`    |      байты      |                     $1$|
|     `'kb'`    |    килобайты    |            $1000, 10^3$|
|     `'mb'`    |    мегабайты    |         $1000000, 10^6$|
|     `'gb'`    |    гигабайты    |      $1000000000, 10^9$|
|     `'tb'`    |    терабайты    |$1000000000000, 10^{12}$|

При передаче любого другого значения `unit` должно выбрасываться исключение `ValueError`.

Реализуйте сложение экземпляров `Storage`. Результатом операции должен быть новый экземпляр `Storage`, объем которого должен быть равен сумме объемов операндов.

```python
>>> Storage(4, 'gb') + Storage(500, 'mb')
'4.5GB'
```

При выводе экземпляров `Storage` должна выводиться строка, содержащая объем устройства в самых крупных единицах, при условии что выводимое число не меньше 1, и название единиц измерения в верхнем регистре. Устройства с объемом 0 байт должны выводиться как `'0.0B'`.

```python
>>> Storage(100, 'b')
'100.0B'

>>> Storage(100, 'kb') + Storage(2, 'mb')
'2.1MB'

>>> Storage(500, 'gb') + Storage(600000, 'mb')
'1.1TB'
```

In [6]:
storage_units = {
    'b': 1,
    'kb': int(1e3),
    'mb': int(1e6),
    'gb': int(1e9),
    'tb': int(1e12),
}

class Storage:
    b: int

    def __init__(self, size: int, unit: str = 'b'):
        unit = unit.lower()
        if unit not in storage_units:
            raise ValueError
        self.b = size * storage_units[unit]

    def __add__(self, other):
        if not isinstance(other, Storage):
            return NotImplemented
        return Storage(self.b + other.b)
    
    def __str__(self):
        for unit, coef in reversed(storage_units.items()):
            if self.b >= coef:
                return f"{self.b / coef}{unit.upper()}"
        return f"{self.b}B"

    __repr__ = __str__

Storage(500, 'b')

500.0B

### Задание №2 C

Реализуйте класс `Distance`, представляющий собой расстояние.

Конструктор `Distance` должен принимать целое число `size` и строку `unit`, которые содержат информацию о длине и используемых единицах измерения.

```python
Distance(50, 'm')    # 50 метров
Distance(2, 'km')    # 2 километра
Distance(100, 'cm')  # 100 сантиметров
```

Таблица используемых единиц измерения:

|Значение `unit`|Единица измерения|Длина в миллиметрах|
|:-------------:|:---------------:|------------------:|
|     `'mm'`    |   миллиметры    |                $1$|
|     `'cm'`    |   сантиметры    |               $10$|
|      `'m'`    |      метры      |       $1000, 10^3$|
|     `'km'`    |    километры    |    $1000000, 10^6$|

При передаче любого другого значения `unit` должно выбрасываться исключение `ValueError`.

Реализуйте сложение экземпляров `Distance`. Результатом операции должен быть новый экземпляр `Distance`, длина которого должна быть равна сумме длин операндов.

```python
>>> Distance(100, 'm') + Distance(3, 'km')
'3.1km'
```

При выводе экземпляров `Distance` должна выводиться строка, содержащая длину в самых крупных единицах, при условии что выводимое число не меньше единицы, и название единиц измерения в нижнем регистре. Расстояния с длиной 0 метров должны выводиться как `'0.0mm'`.

```python
>>> Distance(100, 'mm')
'10.0cm'

>>> Distance(250, 'm') + Distance(900, 'm')
'1.15km'

>>> Distance(50000, 'cm') + Distance(600000, 'mm')
'5.6km'
```

In [7]:
distance_units = {
    'mm': 1,
    'cm': 1e2,
    'm': 1e3,
    'km': 1e6,
}

class Distance:
    mm: int

    def __init__(self, size: int, unit: str = 'mm'):
        unit = unit.lower()
        if unit not in distance_units:
            raise ValueError
        self.mm = size * distance_units[unit]

    def __add__(self, other):
        if not isinstance(other, Distance):
            return NotImplemented
        return Distance(self.mm + other.mm)
    
    def __str__(self):
        for unit, coef in reversed(distance_units.items()):
            if self.mm >= coef:
                return f"{self.mm / coef}{unit.lower()}"
        return f"{self.mm}mm"

    __repr__ = __str__

### Задание №2 D

Реализуйте класс `Rectangle`, отражающий прямоугольник.

Конструктор `Rectangle` должен принимать числа `width` и `height`, содержащие длины сторон прямоугольника.

Реализуйте операции сравнения (`>`, `>=`, `==`, `!=`, `<`, `<=`) для класса `Rectangle` так, чтобы экземпляры `Rectangle` сравнивались по своей площади.

```python
>>> Rectangle(3, 5) >= Rectangle(2, 6)
False

>>> Rectangle(9, 1) < Rectangle(2, 3)
True

>>> Rectangle(4, 5) >= Rectangle(1, 20)
True

>>> Rectangle(234 * 567) == Rectangle(117, 1134)
True
```

In [8]:
class Rectangle:
    def __init__(self, width: float, height: float) -> None:
        self.width = width
        self.height = height

    def area(self) -> float:
        return self.width * self.height

    def __eq__(self, other) -> bool:
        return isinstance(other, Rectangle) and self.area() == other.area()

    def __lt__(self, other) -> bool:
        return isinstance(other, Rectangle) and self.area() < other.area()
    
    def __le__(self, other) -> bool:
        return isinstance(other, Rectangle) and self.area() <= other.area()
    
Rectangle(234, 567) == Rectangle(117, 1134)

True

In [9]:
# альтернативное решение

import functools
import dataclasses

@dataclasses.dataclass
@functools.total_ordering
class Rectangle:
    width: float
    height: float

    def area(self) -> float:
        return self.width * self.height

    def __eq__(self, other) -> bool:
        return isinstance(other, Rectangle) and self.area() == other.area()

    def __lt__(self, other) -> bool:
        return isinstance(other, Rectangle) and self.area() < other.area()
    
Rectangle(3, 5) >= Rectangle(1, 15)

True

### Задание №3 A

In [10]:
import pandas as pd

penguins = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/penguins.csv').dropna()
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE
...,...,...,...,...,...,...,...
338,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,FEMALE
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

В датафрейм `penguins` загружены записи о пингвинах: вид, остров нахождения, параметры клюва и плавников, масса тела и пол.

Выведите на экран следующие значения:

1. Количество различных видов, представленных в датасете.

In [11]:
len(penguins["species"].unique())

3

2. Отношение числа самок к общему числу пингвинов.

In [12]:
len(penguins[penguins['sex'] == 'FEMALE']) / len(penguins)

0.4954954954954955

3. Вид (`"species"`) пингвина с самой большой массой тела.

In [13]:
penguins[penguins["body_mass_g"] == penguins["body_mass_g"].max()]["species"]

237    Gentoo
Name: species, dtype: object

In [14]:
# альтернативное решение
penguins.iloc[penguins["body_mass_g"].argmax()]["species"]

'Gentoo'

### Задание №3 B

In [15]:
import pandas as pd

diamonds = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv')
diamonds

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

В датафрейм `diamonds` загружены записи об алмазах: число карат, качество огранки, цвет, чистота, глубина, размер верхней грани, цена и три измерения размеров.

Выведите на экран следующие значения:

1. Цена самого большого по числу карат алмаза.

In [16]:
diamonds[diamonds['carat'] == diamonds['carat'].max()]['price']

27415    18018
Name: price, dtype: int64

2. Средняя цена за карат.

In [17]:
(diamonds["price"] / diamonds["carat"]).mean()

4008.3947962312695

2. Процент алмазов, имеющих чистоту уровня `"VVS2"` или лучше (считая, что чистота идет по убыванию в порядке `"IF"`, `"VVS1"`, `"VVS2"`, `"VS1"`, `"VS2"`, `"SI1"`, `"SI2"`, `"SI3"`, `"I1"`).

In [18]:
(len(diamonds[diamonds['clarity'].isin(["IF", "VVS1", "VVS2"])]) / len(diamonds)) * 100

19.486466444197255

### Задание №3 C

In [90]:
import pandas as pd

tips = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv')
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

В датафрейм `tips` загружены данные о чаевых и посетителях, которые их оставили. На основании записей в датасете определите:

1. Какой процент среди мужчин составляют курильщики?

In [104]:
len(tips[(tips['sex'] == 'Male') & (tips['smoker'] == 'Yes')]) / len(tips[tips['sex'] == 'Male'])

0.3821656050955414

2. Кто в среднем оставлял больше чаевых &ndash; мужчины или женщины?

In [96]:
tips[tips['sex'] == 'Male']["size"].mean(), tips[tips['sex'] == 'Female']["size"].mean()

(2.6305732484076434, 2.4597701149425286)

3. В какой день недели оставляли больше всего чаевых?

In [102]:
(
    tips[tips["day"] == "Thur"]["size"].mean(),
    tips[tips["day"] == "Fri"]["size"].mean(),
    tips[tips["day"] == "Sat"]["size"].mean(),
    tips[tips["day"] == "Sun"]["size"].mean(),
)

(2.4516129032258065,
 2.1052631578947367,
 2.5172413793103448,
 2.8421052631578947)

### Задание №3 D

In [105]:
import pandas as pd

cars = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/mpg.csv')
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

В датасет `cars` загружены следующие данные о автомобилях: число миль на галлон, количество цилиндров в двигателе, объем двигателя, мощность в лошадиных силах, вес, ускорение, год производства, страна происхождения и название. На основании записей в датасете определите:

1. Сколько машин весом более 3000 в данном датасете было произведено не в США?

In [118]:
len(cars[(cars['weight'] > 3000) & (cars['origin'] != 'usa')])

10

2. Какова максимальная мощность двигателя в лошадиных силах среди машин из США?

In [107]:
cars[cars['origin'] == 'usa']['horsepower'].max()

230.0

3. Сколько машин с 4 цилиндрами имеют показатель ускорения более 23?

In [116]:
len(cars[(cars['cylinders'] == 4) & (cars['acceleration'] > 23)])

4